<%= form_for [@user, @character, @log_entry] do |f| %>
  <div class="row">
    <div class="form-group col-md-offset-2 col-md-2">
      <%= f.label :date_played, 'Date Purchased' %>
      <div class='input-group date'>
        <%= f.text_field :date_played, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :treasure_checkpoints, 'Treasure CP' %>
      <%= f.number_field :treasure_checkpoints, class: 'form-control', :step => 'any'  %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :gp_gained, 'GP +/-' %>
      <%= f.number_field :gp_gained, class: 'form-control', :step => 'any'  %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :downtime_gained, 'Downtime +/-' %>
      <%= f.number_field :downtime_gained, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-2 col-md-8">
      <%= f.label :purchased_magic_item, 'Unlocked Magic Item' %>
      <%= f.select :purchased_magic_item, @magic_items_for_select, { selected: @log_entry.purchased_magic_item ? @log_entry.purchased_magic_item.id : nil, include_blank: true }, { class: 'form-control ' } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="form-group col-md-2">
      <%= f.label :tier1_treasure_checkpoints, 'Tier 1 TCP' %>
      <%= f.number_field :tier1_treasure_checkpoints, class: 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :tier2_treasure_checkpoints, 'Tier 2 TCP' %>
      <%= f.number_field :tier2_treasure_checkpoints, class: 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :tier3_treasure_checkpoints, 'Tier 3 TCP' %>
      <%= f.number_field :tier3_treasure_checkpoints, class: 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :tier4_treasure_checkpoints, 'Tier 4 TCP' %>
      <%= f.number_field :tier4_treasure_checkpoints, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-2 col-md-8">
      <%= f.label :notes, 'Notes' %>
      <%= render partial: 'common/markdown_field', locals: {
        classes: 'form-control',
        form: f,
        object: :notes,
      } %>
    </div>
  </div>

  <%= hidden_field_tag :q, params[:q] %>

  <div class="row top-buffer-md">
    <div class="col-md-offset-2 col-md-8 text-right">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('#purchase_log_entry_date_played').datetimepicker({
      format: 'YYYY-MM-DD HH:mm ',
      icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-arrow-up",
          down: "fa fa-arrow-down",
          previous: "fa fa-arrow-left",
          next: "fa fa-arrow-right",
      }
    });
  });
</script>
