<div class='row'>
  <div class="row">
    <div class="form-group col-md-offset-4 col-md-4">
      <h2>Forgot your password?</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="form-group col-md-offset-4 col-md-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-offset-4 col-md-4">
        <%= f.submit "Reset Password", class: "btn btn-primary" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>


</div>