<%= form_for [@user, @character, @log_entry] do |f| %>
  <div class="row">
    <div class="col-md-offset-2 col-md-5 form-group">
      <label class='css3-checkboxes'>
        <%= f.check_box :old_format %>
        <span class="link-like">Old Format</span>
      </label>
    </div>
  </div>

  <div id='character-log-entry-main-form'>
    <div class="row">
      <div class="col-md-offset-2 col-md-5 form-group">
        <%= f.label :adventure_title, 'Adventure Title' %>
        <%= f.autocomplete_field :adventure_title, autocomplete_adventure_name_adventures_path, class: 'form-control' %>
      </div>

      <div class="form-group col-md-1">
        <%= f.label :session_num, 'Session' %>
        <%= f.text_field :session_num, class: 'form-control' %>
      </div>

      <div class="form-group col-md-2">
        <%= f.label :date_played, 'Date Played' %>

        <div class='input-group date'>
          <%= f.text_field :date_played, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-offset-2 col-md-2">
        <span class="old_format">
          <%= f.label :xp_gained, 'XP Gained' %>
          <%= f.number_field :xp_gained, class: 'form-control' %>
        </span>
        <span class="new_format">
          <%= f.label :xp_checkpoints, 'XP Checkpoints' %>
          <%= f.number_field :xp_checkpoints, class: 'form-control' %>
        </span>
      </div>
      <div class="form-group col-md-2">
        <span class="old_format">
          <%= f.label :gp_gained, 'GP +/-' %>
          <%= f.number_field :gp_gained, class: 'form-control', :step => 'any' %>
        </span>
        <span class="new_format">
          <%= f.label :treasure_checkpoints, 'Treasure Checkpoints' %>
          <%= f.number_field :treasure_checkpoints, class: 'form-control', :step => 'any' %>
        </span>
      </div>
      <div class="form-group col-md-2">
        <%= f.label :downtime_gained, 'Downtime +/-' %>
        <%= f.number_field :downtime_gained, class: 'form-control' %>
      </div>
      <div class="form-group col-md-1">
        <%= f.label :renown_gained, 'Renown' %>
        <%= f.number_field :renown_gained, class: 'form-control' %>
      </div>
      <div class="form-group col-md-1">
        <%= f.label :num_secret_missions, 'Missions' %>
        <%= f.number_field :num_secret_missions, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-offset-2 col-md-4">
        <%= render partial: 'locations/nested_form', locals: { f: f } %>
      </div>
      <%= render partial: 'player_dms/nested_form', locals: { f: f } %>
    </div>

    <div class="row">
      <div class="form-group col-md-offset-2 col-md-8">
        <%= f.label :notes, 'Notes' %>
        <%= render partial: 'common/markdown_field', locals: {
          classes: 'form-control',
          form: f,
          object: :notes,
        } %>
      </div>
    </div>
  </div>

  <%= render partial: 'magic_items/form_adventure', locals: { f: f } %>

  <%= hidden_field_tag :q, params[:q] %>

  <div class="row top-buffer-md">
    <div class="col-md-offset-2 col-md-8 text-right">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('#character_log_entry_date_played').datetimepicker({
      format: 'YYYY-MM-DD HH:mm ',
      icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-arrow-up",
          down: "fa fa-arrow-down",
          previous: "fa fa-arrow-left",
          next: "fa fa-arrow-right",
      }
    });
  });
</script>

<script>
var log_entry_type = "<%= @log_entry_type %>"

  $('#character_log_entry_old_format').change( function(){
    if($(this).is(':checked')) {
      $("span.old_format").removeClass('hide');
      $("span.new_format").addClass('hide');
    } else {
      $("span.new_format").removeClass('hide');
      $("span.old_format").addClass('hide');
    }
  });

  $('#character_log_entry_old_format').change();
</script>
