<%= form_for [@user, @character, @log_entry] do |f| %>
  <div class="row">
    <div class="col-md-offset-2 col-md-2 form-group">
      <%= f.select :log_format, LogEntry.log_formats.keys, {selected: @log_entry.log_format}, { class: 'form-control' } %>
    </div>
  </div>

  <div class="season9_format">
    <%= render partial: 'character_log_entries/season9_form', locals: {f: f} %>
  </div>

  <div class="season8_format">
    <%=render partial: 'character_log_entries/season8_form', locals: {f: f} %>
  </div>

  <div class="old_format">
    <%= render partial: 'character_log_entries/old_form', locals: {f: f} %>
  </div>


  <div class="row">
    <div class="form-group col-md-offset-2 col-md-4">
      <%= render partial: 'locations/nested_form', locals: { f: f } %>
    </div>
    <%= render partial: 'player_dms/nested_form', locals: { f: f } %>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-2 col-md-8">
      <%= f.label :notes, 'Notes' %>
      <%= render partial: 'common/markdown_field', locals: {
        classes: 'form-control',
        form: f,
        object: :notes,
      } %>
    </div>
  </div>

  <%= render partial: 'magic_items/form_adventure', locals: { f: f } %>

  <%= hidden_field_tag :q, params[:q] %>

  <div class="row top-buffer-md">
    <div class="col-md-offset-2 col-md-8 text-right">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('[id=character_log_entry_date_played]').datetimepicker({
      format: 'YYYY-MM-DD HH:mm ',
      icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-arrow-up",
          down: "fa fa-arrow-down",
          previous: "fa fa-arrow-left",
          next: "fa fa-arrow-right",
      }
    });
  });
</script>

<script>
  var log_entry_type = "<%= @log_entry_type %>"

  $('#character_log_entry_log_format').change( function(){
    format_choice = $(this).val()

    if(format_choice == "old"){
      $(".old_format").removeClass('hide');
      $(".old_format .form-control").prop('disabled', false);

      $(".season8_format").addClass('hide');
      $(".season8_format .form-control").prop('disabled', true);

      $(".season9_format").addClass('hide');
      $(".season9_format .form-control").prop('disabled', true);

      $(".purchased:enabled").prop('checked', true);
    }

    if(format_choice == "season8"){
      $(".season8_format").removeClass('hide');
      $(".season8_format .form-control").prop('disabled', false);

      $(".old_format").addClass('hide');
      $(".old_format .form-control").prop('disabled', true);

      $(".season9_format").addClass('hide');
      $(".season9_format .form-control").prop('disabled', true);

      $(".purchased:enabled").prop('checked', false);
    }

    if(format_choice == "season9"){
      $(".season9_format").removeClass('hide');
      $(".season9_format .form-control").prop('disabled', false);

      $(".old_format").addClass('hide');
      $(".old_format .form-control").prop('disabled', true);

      $(".season8_format").addClass('hide');
      $(".season8_format .form-control").prop('disabled', true);

      $(".purchased:enabled").prop('checked', true);
    }
  });

  $('#character_log_entry_log_format').change();
</script>
