<div class="row">
  <div class='col-xs-7'>
    <h3>Log Entries</h3>
  </div>
  <% if @log_entries.total_pages > 1 %>
    <div class='col-xs-12 col-sm-6 col-md-7'>
      <%= paginate @log_entries %>
    </div>
  <% end %>

  <div class='col-xs-12 col-sm-6 col-md-5 list-buttons'>
    <div class="pull-right hidden-xs">
      <%= render partial: 'character_log_entries/list_buttons' %>
    </div>

    <div class="visible-xs" style="padding-left:15px;">
      <%= render partial: 'character_log_entries/list_buttons' %>
    </div>
  </div>
</div>

<label class='css3-checkboxes'>
  <%= check_box_tag :old_format %>
  <span class="link-like">Old Format</span>
</label>

<div class="new_format">
  <%= render partial: 'character_log_entries/table' %>
</div>

<div class="old_format">
  <%= render partial: 'character_log_entries/old_table' %>
</div>

<script>
  $('#old_format').change( function(){
    if($(this).is(':checked')) {
      $(".old_format").removeClass('hide');
      $(".new_format").addClass('hide');
    } else {
      $(".new_format").removeClass('hide');
      $(".old_format").addClass('hide');
    }
  });

  $('#old_format').change();
</script>
