<div id='character-log-entry-main-form'>
  <div class="row">
    <div class="col-md-offset-2 col-md-5 form-group">
      <%= f.label :adventure_title, 'Adventure Title' %>
      <%= f.autocomplete_field :adventure_title, autocomplete_adventure_name_adventures_path, class: 'form-control' %>
    </div>

    <div class="form-group col-md-1">
      <%= f.label :session_num, 'Session' %>
      <%= f.text_field :session_num, class: 'form-control' %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :date_played, 'Date Played' %>

      <div class='input-group date'>
        <%= f.text_field :date_played, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-2 col-md-2">
      <%= f.label :milestones_gained, 'Levels Gained' %>
      <%= f.number_field :milestones_gained, class: 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :gp_gained, 'GP +/-' %>
      <%= f.number_field :gp_gained, class: 'form-control', :step => 'any' %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :downtime_gained, 'Downtime +/-' %>
      <%= f.number_field :downtime_gained, class: 'form-control' %>
    </div>
  </div>

</div>