<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2>Show Log Entry</h2>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-offset-2 col-md-4">
    <strong>Adventure Title</strong> <br>
    <%= @log_entry.adventure_title %>
  </div>
 <div class="form-group col-md-2">
    <strong>Session</strong> <br>
    <%= @log_entry.session_num %>
  </div>

  <div class="form-group col-md-2">
    <strong>Date Played</strong> <br>
    <%= @log_entry.date_played %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-offset-2 col-md-2">
    <strong>XP Gained</strong> <br>
    <%= @log_entry.xp_gained %>
  </div>
  <div class="form-group col-md-2">
    <strong>GP Gained</strong> <br>
    <%= humanize_decimal @log_entry.gp_gained %>
  </div>
  <div class="form-group col-md-2">
    <strong>Renown Gained</strong> <br>
    <%= @log_entry.renown_gained %>
  </div>
  <div class="form-group col-md-2">
    <strong>Downtime Gained</strong> <br>
    <%= @log_entry.downtime_gained %>
  </div>
</div>


<div class="row">
  <div class="form-group col-md-offset-2 col-md-2">
    <strong>Num Magic Items</strong> <br>
    <%= @log_entry.magic_items.count %>
  </div>
  <div class="form-group col-md-6">
    <strong>Magic Items Descriptions</strong> <br>
    <%= @log_entry.magic_items_list %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-offset-2 col-md-4">
    <strong>Location Played</strong> <br>
    <%= @log_entry.location_played %>
  </div>
  <div class="form-group col-md-2">
    <strong>DM Name</strong> <br>
    <%= @log_entry.dm_name %>
  </div>
  <div class="form-group col-md-2">
    <strong>DM DCI Number</strong> <br>
    <%= @log_entry.dm_dci_number %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-offset-2 col-md-8">
    <strong>Notes</strong> <br>
    <%= @log_entry.notes %>
  </div>
</div>