<div class="row print-log-entry-box">
  <div class="row">
    <div class="col-xs-4">
      <%= display_attribute_for_print "Adventure Name",  "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Session #",  "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Date",  "" %>
    </div>
    <div class="col-xs-4">
      <%= display_attribute_for_print "DM Name and DCI #", "" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <%= display_attribute_for_print "Starting XP",  "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Starting Gold",  "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Starting Downtime",  "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Starting Renown", "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Starting M Items", "" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <%= display_attribute_for_print "XP Earned",  "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Gold +/-",  "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Downtime +/-",  "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Renown Earned", "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Magic Items +/-", "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Magic Item Gained", "" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <%= display_attribute_for_print "XP Total",  "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Gold Total",  "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Downtime Total",  "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Renown Total", "" %>
    </div>
    <div class="col-xs-2">
      <%= display_attribute_for_print "Magic Items Total", "" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class='text-box'></div>
      <div class='text-box'></div>
      <div class='text-box'></div>
      <label>Adventure Notes / Downtime Activites</label>
    </div>
  </div>
</div>
