<%= form_for [current_user, @character] do |f| %>
  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :season, 'Season' %>
      <%= f.text_field :season, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :name, 'Name *' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :race, 'Race' %>
      <%= f.text_field :race, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :class_and_levels, 'Classes and Levels' %>
      <%= f.text_field :class_and_levels, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :tag, 'Tag' %>
      <%= f.text_field :tag, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :background, 'Background' %>
      <%= f.text_field :background, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :lifestyle_id, 'Lifestyle' %>
      <label class='pull-right css3-checkboxes'><%= check_box_tag :use_lifestyle_override, '1', @use_season_origin_override %> <span class="link-like">Manual Entry</span></label>
      <%= f.text_field :lifestyle_override, class: 'form-control' %>
      <%= f.select :lifestyle_id, @lifestyles.map {|p| [ p.name, p.id ] }, { include_blank: true }, { class: 'form-control ' } %>
    </div>
  </div>

<script>
  $('#use_lifestyle_override').change( function(){
    var formGroupParent = $(this).parent().parent();
    if($(this).is(':checked')) {
      formGroupParent.find('#character_lifestyle_override').removeClass('hide');
      formGroupParent.find('#character_lifestyle_id').addClass('hide');
    } else {
      formGroupParent.find('#character_lifestyle_override').addClass('hide');
      formGroupParent.find('#character_lifestyle_id').removeClass('hide');
    }
  });

  $('#use_lifestyle_override').change();
</script>

  <%= render partial: 'characters/form_faction', locals: { f: f } %>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :portrait_url, 'Portrait Url' %>
      <%= f.text_field :portrait_url, class: 'form-control' %>
      <div class="help-block">(245 x 155)</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :character_sheet_url, 'Character Sheet Url' %>
      <%= f.text_field :character_sheet_url, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3 class="pull-right">Season 8</h3>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :conversion_speed, 'XP to ACP Conversion Speed' %>
      <%= f.select :conversion_speed, Character.conversion_speeds.keys, {}, { class: "form-control" } %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :conversion_type, 'XP to ACP Conversion Type' %>
      <%= f.select :conversion_type, Character.conversion_types.keys, {}, { class: "form-control" } %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :automagic_gold_toggle, 'Automagically Add Gold' %>
      <%= f.select :automagic_gold_toggle, Character.automagic_gold_toggles.keys, {}, { class: "form-control" } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3 class="pull-right">Season 9</h3>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :round_checkpoints, 'ACP to Milestone Rounding' %>
      <%= f.select :round_checkpoints, Character.round_checkpoints.keys, {}, { class: "form-control" } %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :automagic_downtime_toggle, 'Automagically Add Downtime' %>
      <%= f.select :automagic_downtime_toggle, Character.automagic_downtime_toggles.keys, {}, { class: "form-control" } %>
    </div>
  </div>


  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :publicly_visible, class: 'css3-checkboxes' do
        (f.check_box :publicly_visible) + "<span>Publicly Visible</span>".html_safe
      end %>
    </div>
  </div>


  <div class="row top-buffer-md">
    <div class="col-md-6 col-md-offset-3 text-right">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
