<div class="row">
  <div class="col-xs-3">
    <span class="print-brand adventurers-league-print-logo"></span>
  </div>

  <div class="col-xs-6" style="text-align:center">
    <h2>Adventure Logsheet</h2>
  </div>
</div>

<div class="row print-character-box">
  <div class="col-xs-4">
    <%= display_attribute_for_print "Character Name",  @character.name %>
  </div>
  <div class="col-xs-4">
    <%= display_attribute_for_print "Class and Levels",  @character.class_and_levels %>
  </div>
  <div class="col-xs-4">
    <%= display_attribute_for_print "Faction",  @character.faction_name %>
  </div>

  <div class="col-xs-4">
    <%= display_attribute_for_print "Player Name", @character.user.name %>
  </div>
  <div class="col-xs-4">
    <%= display_attribute_for_print "DCI #",  @character.user.dci_num %>
  </div>
  <div class="col-xs-4">
    <%= display_attribute_for_print "Sheet #",  @sheet_num %>
  </div>
</div>

<br>
