<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h2>Edit Character</h2>
  </div>
</div>

<%= form_for [current_user, @character] do |f| %>
  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :name, 'Name *' %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :race, 'Race' %>
      <%= f.text_field :race, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :class_and_levels, 'Classes and Levels' %>
      <%= f.text_field :class_and_levels, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :faction, 'Faction' %>
      <%= f.select :faction, Character.faction_list.collect {|p| [ p, p ] }, {}, { class: 'form-control' } %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :portrait_url, 'Portrait Url' %>
      <%= f.text_field :portrait_url, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-3 col-md-6">
      <%= f.label :publicly_visible, class: 'css3-checkboxes' do
        (f.check_box :publicly_visible) + "<span>Publicly Visible</span>".html_safe
      end %>
    </div>
  </div>


  <div class="row top-buffer-md">
    <div class="col-md-6 col-md-offset-3 text-right">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
