<div id="characters-index">
  <div class=row>
    <h1 class="col-md-offset-1 col-md-4">Characters</h1>

    <div class="col-md-7" style="margin-top: 15px;">
      <div class="form-inline pull-right">
        <%= search_form_for [@user, @search] do |f| %>
          <%= f.select :season_cont, options_for_select(@seasons, params[:q][:season_cont] ), {include_blank: true}, {class: "form-control"} %>
          <%= f.select :tag_cont, options_for_select(@tags, params[:q][:tag_cont] ), {include_blank: true}, {class: "form-control"} %>
          <%= f.submit "Search", class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= render partial: 'characters/list', locals: {characters: @characters} %>
  </div>
</div>

<% if @user == current_user %>
  <div class="row">
    <div class='col-md-offset-1 col-md-10'>
      <%= link_to 'New Character', new_user_character_path(current_user), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
