<div class="row" id="characters-index">
  <h1 class='col-md-offset-1 col-md-10'>Characters</h1>

  <div class='col-md-offset-1 col-md-10'>
    <div id='characters_list'>
      <div class="table-responsive">
        <table class="table table-bordered table-responsive table-striped">
          <tr>
            <th><%= sort_link @search, :name, "Name", {}, {} %></th>
            <th><%= sort_link @search, :race, "Race", {}, {} %></th>
            <th><%= sort_link @search, :class_and_levels, "Class", {}, {} %></th>
            <th><%= sort_link @search, :faction_id, "Faction", {}, {} %></th>
            <th></th>
          </tr>

          <tbody id='menu_items'>
            <% @characters.each do |character| %>
              <tr>
                <td><%= link_to character.name, user_character_path(current_user, character) %></td>
                <td><%= character.race %></td>
                <td><%= character.class_and_levels %></td>
                <td><%= character.faction_name %></td>
                <td>
                  <%= link_to "<span class='sr-only'>Show<span>".html_safe, user_character_path(current_user, character), class: "fa fa-eye" %>
                  <%= link_to "<span class='sr-only'>Edit<span>".html_safe, edit_user_character_path(current_user, character), class: "fa fa-pencil-square-o" %>
                  <%= link_to "<span class='sr-only'>Print<span>".html_safe, print_user_character_path(current_user, character), class: "fa fa-print", target: '_blank' %>
                  <span style="margin-right:15px"></span>
                  <%= link_to "<span class='sr-only'>Delete<span>".html_safe, user_character_path(current_user, character), method: :delete, data: { confirm: "Are you sure you want to delete #{character.name}?" }, class: "fa fa-trash-o" %>
                </td>
              </tr>
            <% end %>

            <%= paginate @characters %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-offset-1 col-md-10'>
    <%= link_to 'New Character', new_user_character_path(current_user), class: 'btn btn-primary' %>
  </div>
</div>