<style type="text/css">
  nav { display: none }
  .navbar-text { display: none }

  body{ padding-top: 0px; }

  .adventurers-league-print-logo{
    display: list-item;
    list-style-image: url(<%= asset_path 'DnD_ADVL.png' %>);
    list-style-position: inside;
    letter-spacing: -1000em;
    font-size: 1px;
    color: #fff;
  }

  .page {
    page-break-inside: avoid;
  }
</style>

<div class='page'>
  <%= render "print_condensed_header" %>
</div>

<% @log_entries.each do |log_entry| %>
  <div class="row print-log-entry-box page">
    <div class="row">
      <div class="col-xs-4">
        <%= display_attribute_for_print "Adventure Name",  log_entry.adventure_title %>
      </div>
      <div class="col-xs-2">
        <%= display_attribute_for_print "Session #",  log_entry.session_num %>
      </div>
      <div class="col-xs-2">
        <%= display_attribute_for_print "Date",  log_entry.date_played %>
      </div>
      <% if !log_entry.is_dm_log_entry? %>
        <div class="col-xs-4">
          <%= display_attribute_for_print "DM Name and DCI #", make_dm_and_dci_string(log_entry.dm_name, log_entry.dm_dci_number) %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <%= display_attribute_for_print "XP Earned",  log_entry.xp_gained %>
      </div>
      <div class="col-xs-2">
        <%= display_attribute_for_print "Gold +/-",  humanize_decimal(log_entry.gp_gained) %>
      </div>
      <div class="col-xs-2">
        <%= display_attribute_for_print "Downtime +/-",  log_entry.downtime_gained %>
      </div>
      <% if !log_entry.is_dm_log_entry? %>
        <div class="col-xs-2">
          <%= display_attribute_for_print "Renown Earned", log_entry.renown_gained %>
        </div>
        <div class="col-xs-2">
          <%= display_attribute_for_print "Magic Items +/-", log_entry.num_magic_items_gained %>
        </div>
        <div class="col-xs-2">
          <%= display_attribute_for_print "Magic Item Gained", log_entry.desc_magic_items_gained %>
        </div>
      <% else %>
        <div class="col-xs-offset-2 col-xs-4">
          <h4>*** DM ENTRY ***</h4>
        </div>
      <% end %>
    </div>

    <% if log_entry.notes && log_entry.notes != '' %>
      <div class="row">
        <div class="col-xs-12">
            <label>Adventure Notes / Downtime Activites</label>
            <p class='print-notes'><%= log_entry.notes %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
