<div class="row">
  <h2 class="col-md-offset-2 col-md-8">
    <%= @character.name %>

    <span class='pull-right'>
      <% if @user == current_user %>
        <%= link_to "Edit".html_safe, edit_user_character_path(current_user, @character), class: "btn btn-default btn-sm", title: "Edit Character" %>
      <% end %>
      <% if @character.character_sheet_url.present? %>
        <%= link_to 'Character Sheet', @character.character_sheet_url, class: 'btn btn-default btn-sm', target: '_blank', rel: 'noopener noreferrer' %>
      <% end %>
    </span>
  </h2>
</div>

<div class='row'>
  <div class="col-md-2 hidden-xs hidden-sm" style="margin-top:-40px;">
    <% if @character.portrait_url == "" %>
      <img src="<%= asset_path('Human_female_99.jpg') %>" height="245" width="155">
    <% else %>
      <img src="<%= @character.portrait_url %>" height="245" width="155">
    <% end %>
  </div>

  <div class="col-md-4">
    <%= display_attribute "Season",  @character.season %>
    <%= display_attribute "Race",  @character.race %>
    <%= display_attribute "Class", @character.class_and_levels %>
    <%= display_attribute "Background", @character.background %>
    <%= display_attribute "Lifestyle", @character.lifestyle_name %>

    <br class='hidden-xs'>
    <%= display_attribute "Current Level", @character.current_level, type: :level %>

    <%= display_attribute "XP Level",  @character.xp_level if @style == 'all' %>
    <%= display_attribute "Total XP",  @character.total_xp if @style == 'old' || @style == 'all' %>
    <%= display_attribute "XP to Level", @character.xp_to_next_level if @style == 'old' || @style == 'all' %>
    <%= display_attribute "XP for Next",  @character.xp_for_next_level if @style == 'old' || @style == 'all' %>

    <%= display_attribute "ACP Level", @character.checkpoint_level if @style == 'all' %>
    <%= display_attribute "ACP to Level", @character.checkpoints_to_next_level if @style == 'season8' || @style == 'all' %>

    <%= display_attribute "Milestone Level", @character.milestone_level if @style == 'all' %>

    <%= display_attribute "Total GP", humanize_decimal(@character.total_gp) %>
    <%= display_attribute "Total Downtime", humanize_decimal(@character.total_downtime) %>
  </div>

  <div class="col-md-4">
    <%= display_attribute "Tag",  @character.tag %>
    <%= display_attribute "Faction",  @character.faction_name %>
    <%= display_attribute "Faction Rank", @character.faction_rank if @style == 'season9' || @style == 'all' %>

    <%= display_attribute "Renown Rank", @character.rank_by_renown if @style == 'old' ||  @style == 'season8'|| @style == 'all' %>
    <%= display_attribute "Total Renown", humanize_decimal(@character.total_renown) if @style == 'old' ||  @style == 'season8'|| @style == 'all' %>
    <%= display_attribute "Secret Missions", @character.total_secret_missions  if @style == 'old' || @style == 'all'%>
    <% if @style == 'season8' %><br class='hidden-xs'><% end %>
    <br class='hidden-xs'>
    <%= display_attribute "Treasure CPs", treasure_checkpoints_string(@character.log_entries) if @style == 'season8' || @style == 'all' %>
    <%= display_attribute "Magic Item Count", @character.total_magic_items if @style == 'season9' || @style == 'all' %>
    <%= display_attribute "Magic Item Limit", @character.magic_item_limit if @style == 'season9' || @style == 'all' %>
    <%= display_attribute (link_to "Magic Items", user_character_magic_items_path(@user, @character)), @magic_items.pluck(:name), type: :array %>
  </div>

  <div class="col-md-2 hidden-xs hidden-sm" style="margin-top:-40px;">
    <% if @character.faction_image %>
      <img src="<%= asset_path(@character.faction_image) %>" height="245">
    <% end %>
  </div>
</div>

<br class="hidden-xs">

<div class="row">
  <div class='col-xs-12'>
    <div id='log_entires_list'>
      <%= render partial: 'character_log_entries/list', locals: { q: sort_params(params).fetch(:q, {}) } %>
    </div>
  </div>
</div>
