<div class="row">
  <div class="col-sm-2" style="margin-top:25px;">
    <% if @character.portrait_url == "" %>
      <img src="<%= asset_path('Human_female_99.jpg') %>" height="245">
    <% else %>
      <img src="<%= @character.portrait_url %>" height="245">
    <% end %>
  </div>

  <div class="col-sm-8">
    <div class="row">
      <h2 class="col-xs-12"><%= @character.name %></h2>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= display_attribute "Race",  @character.race %>
        <%= display_attribute "Class", @character.class_and_levels %>
        <br>
        <%= display_attribute "Current Level", @character.current_level %>
        <%= display_attribute "Total XP",  @character.total_xp %>
        <%= display_attribute "XP to Level", @character.xp_to_next_level %>
        <%= display_attribute "XP for Next",  @character.xp_for_next_level %>
        <br>
        <%= display_attribute "Total GP", @character.total_gp %>
      </div>

      <div class="col-sm-6">
        <%= display_attribute "Magic Items", @character.magic_items_list %>
        <%= display_attribute "Total Magic Items",  @character.total_magic_items %>
        <br>
        <%= display_attribute "Faction Rank",  @character.faction_rank %>
        <%= display_attribute "Total Renown",  @character.total_renown %>
        <%= display_attribute "Secret Missions",  @character.total_secret_missions %>
        <br>
        <%= display_attribute "Total Downtime",  @character.total_downtime %>
      </div>
    </div>
  </div>

  <div class="col-sm-2" style="margin-top:25px">
    <img src="<%= asset_path(@character.faction_image) %>" height="245">
  </div>
</div>

<div class="row">
  <div class='col-xs-12'>
    <div id='log_entires_list'>
      <%= render partial: 'log_entries/list' %>
    </div>
  </div>
</div>