<div class="row">
  <h2 class="col-md-offset-2 col-md-8">
    <%= @character.name %>

    <span class='pull-right'>
      <% if @user == current_user %>
        <%= link_to "Edit".html_safe, edit_user_character_path(current_user, @character), class: "btn btn-default btn-sm", title: "Edit Character" %>
      <% end %>
      <% if @character.character_sheet_url.present? %>
        <%= link_to 'Character Sheet', @character.character_sheet_url, class: 'btn btn-default btn-sm', target: '_blank', rel: 'noopener noreferrer' %>
      <% end %>
    </span>
  </h2>
</div>

<div class='row'>
  <div class="col-md-2 hidden-xs hidden-sm" style="margin-top:-40px;">
    <% if @character.portrait_url == "" %>
      <img src="<%= asset_path('Human_female_99.jpg') %>" height="245" width="155">
    <% else %>
      <img src="<%= @character.portrait_url %>" height="245" width="155">
    <% end %>
  </div>

  <div class="col-md-4">
    <%= display_attribute "Race",  @character.race %>
    <%= display_attribute "Class", @character.class_and_levels %>
    <%= display_attribute "Background", @character.background %>
    <%= display_attribute "Lifestyle", @character.lifestyle_name %>
    <br class='hidden-xs'>
    <%= display_attribute "Current Level", @character.current_level %>
    <%= display_attribute "Total XP",  @character.total_xp %>
    <%= display_attribute "XP to Level", @character.xp_to_next_level %>
    <div class='hidden-xs'><%= display_attribute "XP for Next",  @character.xp_for_next_level %></div>
    <%= display_attribute "Total GP", humanize_decimal(@character.total_gp) %>
    <%= display_attribute "Total Downtime",  @character.total_downtime %>
  </div>

  <div class="col-md-4">
    <%= display_attribute "Faction",  @character.faction_name %>
    <%= display_attribute "Faction Rank",  @character.faction_rank %>
    <%= display_attribute "Total Renown",  @character.total_renown %>
    <%= display_attribute "Secret Missions",  @character.total_secret_missions %>
    <br class='hidden-xs'>
    <%= display_attribute "Total Magic Items",  @character.total_magic_items %>
    <%= display_attribute_ary (link_to "Magic Items", user_character_magic_items_path(@user, @character)), @magic_items.pluck(:name) %>
  </div>

  <div class="col-md-2 hidden-xs hidden-sm" style="margin-top:-40px;">
    <% if @character.faction_image %>
      <img src="<%= asset_path(@character.faction_image) %>" height="245">
    <% end %>
  </div>
</div>

<br class="hidden-xs">

<div class="row">
  <div class='col-xs-12'>
    <div id='log_entires_list'>
      <%= render partial: 'character_log_entries/list' %>
    </div>
  </div>
</div>
