<div id="magic-items-form">
  <div class="row">
    <div class="col-md-offset-2 col-md-4 col-xs-8">
      <h3>Magic Items</h3>
    </div>

    <div class='col-xs-4'>
      <div class="pull-right" style="padding-top:15px">
        <%= link_to "Add Magic Item", '#', class: 'btn btn-sm btn-default', id: 'add_magic_item' %>
      </div>
    </div>
  </div>
  <div id="magic-items">
    <% @magic_items.each.with_index do |magic_item, index| %>
      <%= f.fields_for :magic_items, magic_item do |magic_item_form| %>
        <div class="magic-item well col-md-offset-2 col-md-8 <%=  'hidden' if index == 0 %>">
          <%= render partial: 'magic_items/form', locals: { magic_item_form: magic_item_form, removeable: true } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  magic_item_index       = <%= @magic_item_count %>;

  $('#add_magic_item').click(function(event){
    event.preventDefault();

    list      = $('div#magic-items');
    base_form = $('div#magic-items > div.hidden');

    magic_item_index = magic_item_index + 1;
    new_pattern = "[" + (magic_item_index) + "]";
    new_under_pattern = "_" + (magic_item_index) + "_";

    new_html = base_form.get(0).outerHTML.replace(/\_0\_/g, new_under_pattern).replace(/\[0\]/g, new_pattern);

    $( new_html ).removeClass('hidden').appendTo(list);
  });
</script>
