<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h3>Magic Items</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="table-responsive">
      <table class="table table-bordered table-responsive table-striped">
        <tr>
          <% unless @character %>
            <th>Character</th>
          <% end %>
          <th>Name</th>
          <th>Rarity</th>
          <th>Location</th>
          <th>Table</th>
          <th>Result</th>
          <th>Counts?</th>
        </tr>
        <% @magic_items.each do |magic_item| %>
          <tr>
            <% unless @character %>
              <td><%= magic_item.character.name %></td>
            <% end %>
            <td><%= magic_item.name %></td>
            <td><%= magic_item.rarity.titleize %></td>
            <td><%= magic_item.location_found %></td>
            <td><%= magic_item.table %></td>
            <td><%= magic_item.table_result %></td>
            <td><%= !magic_item.not_included_in_count %></td>
          </tr>
          <% if magic_item.notes.present? %>
            <tr>
              <td colspan="6"><%= magic_item.notes %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>