<div class="row" id="magic_items-index">
  <h1 class='col-md-offset-2 col-md-8'>Magic Items</h1>

  <div class='col-md-offset-2 col-md-8'>
    <div id='magic_items_list'>
      <div class="table-responsive">
        <table class="table table-bordered table-responsive table-striped">
          <tr>
            <th><%= sort_link @search, :name, "Name", {}, {} %></th>
            <th><%= sort_link @search, :rarity, "Rarity", {}, {} %></th>
            <th><%= sort_link @search, :location_found, "Location", {}, {} %></th>
            <th><%= sort_link @search, :table, "Table", {}, {} %></th>
            <th><%= sort_link @search, :table_result, "Result", {}, {} %></th>
            <th><%= sort_link @search, :not_included_in_count, "Counts", {}, {} %></th>
            <th>Source</th>
            <th></th>
          </tr>

          <tbody id='menu_items'>
            <% @magic_items.each do |magic_item| %>
              <tr>
                <td><%= link_to magic_item.name, [@user, @character, magic_item] %></td>
                <td><%= magic_item.rarity %></td>
                <td><%= magic_item.location_found %></td>
                <td><%= magic_item.table %></td>
                <td><%= magic_item.table_result %></td>
                <td><%= !magic_item.not_included_in_count %></td>
                <td>
                  <%= render partial: 'log_entries/log_entry_link', locals: { log_entry: magic_item.log_entry } %>
                </td>
                <td>
                  <%= link_to "<span class='sr-only'>Show<span>".html_safe, [@user, @character, magic_item], class: "fa fa-eye", title: "Show Magic Item" %>
                  <% if @user == current_user %>
                    <%= link_to "<span class='sr-only'>Delete<span>".html_safe, user_character_magic_item_path(@user, @character, magic_item), method: :delete, data: { confirm: "Are you sure you want to delete #{magic_item.name}?" }, class: "fa fa-trash-o", title: "Delete Magic Item" %>
                  <% end %>
                </td>
              </tr>
              <% if magic_item.notes.present? %>
                <tr>
                  <td colspan='7'>
                    <strong>Notes:</strong>
                    <%= markdown(magic_item.notes) %>
                  </td>
                </tr>
              <% end %>
            <% end %>

            <%= paginate @magic_items %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>