<div class="row">
  <div class="form-group col-md-offset-4 col-md-4">
    <h2>Log in</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="form-group col-md-offset-4 col-md-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-4 col-md-4">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="row">
      <div class="form-group col-md-offset-4 col-md-4">
        <%= f.label :remember_me, class: 'css3-checkboxes' do
          (f.check_box :remember_me) + "<span>Remember Me</span>".html_safe
        end %>
      </div>
    </div>
  <% end -%>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>