<div class="form-group">
  <%= f.label :adventure_title, 'Adventure Title' %>
  <label class='pull-right css3-checkboxes'><%= check_box_tag :use_adventure_override, '1', @use_adventure_override %> <span class="link-like">Manual Entry</span></label>

  <%= f.text_field :adventure_title, autofocus: true, class: 'form-control' %>
  <%= f.select :adventure_title, @adventure_form_inputs.map {|p| [ p.name, p.name ] }, { include_blank: true }, { class: 'form-control ' } %>
</div>


<script>
  var log_entry_class = "<%= @log_entry.type.underscore %>"

  $('#use_adventure_override').change( function(){
    var formGroupParent = $(this).parent().parent();
    if($(this).is(':checked')) {
      $input_el = formGroupParent.find('input#' + log_entry_class + '_adventure_title')
      $input_el.removeClass('hide');
      $input_el.prop('disabled', false);

      $select_el = formGroupParent.find('select#' + log_entry_class + '_adventure_title')
      $select_el.addClass('hide');
      $select_el.prop('disabled', true);
    } else {
      $input_el = formGroupParent.find('input#' + log_entry_class + '_adventure_title')
      $input_el.addClass('hide');
      $input_el.prop('disabled', true);

      $select_el = formGroupParent.find('select#' + log_entry_class + '_adventure_title')
      $select_el.removeClass('hide');
      $select_el.prop('disabled', false);
    }
  });

  $('#use_adventure_override').change();
</script>
