<div class="row">
  <h3 class='col-xs-9'>Log Entries</h3>
  <% if @log_entries.total_pages > 1 %>
    <div class='col-xs-9'>
      <%= paginate @log_entries %>
    </div>
   <% end %>

  <% if @character.user == current_user %>
    <div class='col-xs-3'>
     <%= link_to "New Log Entry", new_user_character_log_entry_path(current_user, @character), class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>

<div id='characters_list'>

  <div class="table-responsive">
    <table class="table table-bordered table-responsive table-striped">
      <tr>
        <th><%= sort_link @search, :date_played, "Date Played", {}, {} %></th>
        <th><%= sort_link @search, :adventure_title, "Adventure Title", {}, {} %></th>
        <th><%= sort_link @search, :session_num, "Session", {}, {} %></th>
        <th><%= sort_link @search, :xp_gained, "XP", {}, {} %></th>
        <th><%= sort_link @search, :gp_gained, "GP", {}, {} %></th>
        <th><%= sort_link @search, :desc_magic_items_gained, "Magic Items", {}, {} %></th>
        <th><%= sort_link @search, :renown_gained, "Renown", {}, {} %></th>
        <th><%= sort_link @search, :downtime_gained, "Downtime", {}, {} %></th>
        <th></th>
      </tr>

      <tbody id='menu_items'>
        <% @log_entries.each do |log_entry| %>
          <tr>
            <td><%= log_entry.date_played %></td>
            <td><%= link_to log_entry.adventure_title, user_character_log_entry_path(@character.user, @character, log_entry) %></td>
            <td><%= log_entry.session_num %></td>
            <td><%= log_entry.xp_gained %></td>
            <td><%= log_entry.gp_gained %></td>
            <td><%= log_entry.desc_magic_items_gained %></td>
            <td><%= log_entry.renown_gained %></td>
            <td><%= log_entry.downtime_gained %></td>
            <td>
              <%= link_to "", user_character_log_entry_path(@character.user, @character, log_entry), class: "fa fa-eye" %>

              <% if @character.user == current_user %>
                <%= link_to "", edit_user_character_log_entry_path(current_user, @character, log_entry), class: "fa fa-pencil-square-o" %>
                <%= link_to "", user_character_log_entry_path(current_user, @character, log_entry), method: :delete, data: { confirm: "Are you sure you want to delete this log entry?" }, class: "fa fa-trash-o" %>
              <% end %>
            </td>
          </tr>
          <% unless log_entry.notes.empty? %>
            <tr>
              <td colspan='9'>
                <strong>Notes:</strong>
                <%= log_entry.notes %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
