<%= form_for [current_user, @campaign] do |f| %>
  <div id="campaign-form">
    <div class="row">
      <div class="form-group col-md-offset-3 col-md-6">
        <%= f.label :name, 'Name *' %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-offset-3  col-md-2">
        <%= f.label :users_can_join, class: 'css3-checkboxes' do
          (f.check_box :users_can_join) + "<span>Users Can Join</span>".html_safe
        end %>
      </div>

      <div class="form-group col-md-2">
        <%= f.label :publicly_visible, class: 'css3-checkboxes' do
          (f.check_box :publicly_visible) + "<span>Publicly Visible</span>".html_safe
        end %>
      </div>
    </div>

    <div class="row top-buffer-md">
      <div class="col-md-6 col-md-offset-3 text-right">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>