<div class="row" id="campaigns-index">
  <h1 class='col-md-offset-1 col-md-10'>Campaigns</h1>


<div class="row col-md-offset-1 ">
  <div class='col-md-5'>
    <div class="row">
      <div class='col-xs-5'>
        <h3>DMing</h3>
      </div>

      <div class='col-xs-12 col-sm-7 col-md-7 list-buttons'>
        <div class="pull-right hidden-xs" style="margin-right:10px;">
          <%= link_to 'New Campaign', new_user_campaign_path(current_user), class: 'btn btn-primary' %>
        </div>

        <div class="visible-xs" style="padding-left:15px;">
          <%= link_to 'New Campaign', new_user_campaign_path(current_user), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" id='dming_campaigns_list'>
        <%= render partial: 'campaigns/list', locals: { campaigns: @campaigns } if @campaigns%>
      </div>
    </div>
  </div>

  <div class='col-md-5'>
    <div class="row">
      <div class='col-xs-5'>
        <h3>Playing</h3>
      </div>

      <div class='col-xs-12 col-sm-7 col-md-7 list-buttons'>
        <div class="pull-right hidden-xs" style="margin-right:10px;">
          <%= link_to 'Join Campaign', join_user_campaigns_path(current_user), class: 'btn btn-primary' %>
        </div>

        <div class="visible-xs" style="padding-left:15px;">
          <%= link_to 'Join Campaign', join_user_campaigns_path(current_user), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" id='playing_campaigns_list'>
        <%= render partial: 'campaign_participations/list', locals: { campaign_participations: @campaign_participations } if @campaign_participations%>
      </div>
    </div>
  </div>
</div>