<%= form_for [@user, @log_entry] do |f| %>
  <div class="row">
    <%= render partial: 'log_entries/form_adventure', locals: { f: f } %>

    <div class="form-group col-md-1">
      <%= f.label :session_num, 'Session' %>
      <%= f.text_field :session_num, class: 'form-control' %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :date_played, 'Date DMed' %>
      <%= f.date_field :date_played, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-2 col-md-2">
      <%= f.label :xp_gained, 'XP Gained' %>
      <%= f.number_field :xp_gained, class: 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :gp_gained, 'GP Gained' %>
      <%= f.number_field :gp_gained, class: 'form-control', :step => 'any' %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :downtime_gained, 'Downtime Gained' %>
      <%= f.number_field :downtime_gained, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-2 col-md-4">
      <%= f.label :location_played, 'Location DMed' %>
      <%= f.text_field :location_played, class: 'form-control' %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :character_id, 'Character to Apply Rewards' %>
      <%= f.select :character_id, @characters.map{|character| [character.name, character.id]},  { include_blank: true }, { class: 'form-control' } %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-offset-2 col-md-8">
      <%= f.label :notes, 'Notes' %>
      <%= f.text_area :notes, class: 'form-control' %>
    </div>
  </div>

  <div class="row top-buffer-md">
    <div class="col-md-offset-2 col-md-8 text-right">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
