<div class="row">
  <div class="col-md-offset-2 col-md-5 form-group">
    <%= f.label :adventure_title, 'Adventure Title' %>
    <%= f.autocomplete_field :adventure_title, autocomplete_adventure_name_adventures_path, class: 'form-control' %>
  </div>
  <div class="form-group col-md-1">
    <%= f.label :session_num, 'Session' %>
    <%= f.text_field :session_num, class: 'form-control' %>
  </div>

  <div class="form-group col-md-2">
    <%= f.label :date_dmed, 'Date DMed' %>
    <%= f.text_field :date_dmed, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-2">
  </div>
  <div class="form-group col-md-2 ">
    <%= f.label :session_length_hours, 'Length (Hours)' %>
    <%= f.number_field :session_length_hours, class: 'form-control' %>
  </div>
  <div class="form-group col-md-2 ">
    <%= f.label :player_level, 'Player Level' %>
    <%= f.number_field :player_level, class: 'form-control' %>
  </div>
  <div class="form-group col-md-4">
     <%= render partial: 'locations/nested_form', locals: { f: f } %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-1">
  </div>
  <div class="form-group col-md-1">
    <%= label_tag :multiplier, 'Multiplier' %>
    <%= number_field_tag :multiplier, 1, class: 'form-control' %>
  </div>
  <div class="form-group col-md-2">
    <%= f.label :xp_gained, 'XP Gained' %>
    <%= f.number_field :xp_gained, class: 'form-control' %>
    <label class='css3-checkboxes'><%= check_box_tag :autocalc, true, @user.autocalc_default %> <span class="link-like">Auto-Calc</span></label>
  </div>
  <div class="form-group col-md-2">
    <%= f.label :gp_gained, 'GP +/-' %>
    <%= f.number_field :gp_gained, class: 'form-control', :step => 'any' %>
  </div>
  <div class="form-group col-md-2">
    <%= f.label :downtime_gained, 'Downtime +/-' %>
    <%= f.number_field :downtime_gained, class: 'form-control' %>
  </div>
  <div class="form-group col-md-1">
    <%= f.label :renown_gained, 'Renown' %>
    <%= f.number_field :renown_gained, class: 'form-control' %>
  </div>
  <div class="form-group col-md-1">
    <%= f.label :num_secret_missions, 'Missions' %>
    <%= f.number_field :num_secret_missions, class: 'form-control' %>
  </div>

  <div class="form-group col-md-2">
  </div>
</div>

<div class="row">
  <div class="form-group col-md-2">
  </div>
  <div class="form-group col-md-2">
    <%= f.label :date_played, 'Date Assigned' %>
    <%= f.text_field :date_played, class: 'form-control' %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :character_id, 'Character to Apply Rewards' %>
    <%= f.select :character_id, @characters.map{|character| [character.name, character.id]},  { include_blank: true }, { class: 'form-control' } %>
  </div>
</div>


<script type="text/javascript">
  $(function () {
    //FIXME: Move this logic to ruby / rails code

    var xp_lookup_table = <%= @hourly_xp_lookup_table %>
    function calculateRewards(){
      if($('#autocalc').prop('checked') == false) { return; }

      var hours = $('#dm_log_entry_session_length_hours').val();
      var level = $('#dm_log_entry_player_level').val();
      var multiplier = $('#multiplier').val();

      var xp_reward = xp_lookup_table[level] * hours * multiplier;
      var gp_reward = xp_reward / 2;
      var dt_reward = parseInt(hours / 2) * 5 * multiplier;
      var rn_reward = 0;

      $('#dm_log_entry_xp_gained').val(xp_reward);
      $('#dm_log_entry_gp_gained').val(gp_reward);
      $('#dm_log_entry_downtime_gained').val(dt_reward);
      $('#dm_log_entry_renown_gained').val(rn_reward);
    }

    $('#dm_log_entry_session_length_hours').change(function(){
      if($('#dm_log_entry_player_level').val() != ''){
        calculateRewards();
      }
    });

    $('#dm_log_entry_player_level').change(function(){
      if($('#dm_log_entry_session_length_hours').val() != ''){
        calculateRewards();
      }
    });

    $('#multiplier').change(function(){
        calculateRewards();
    });
  });
</script>
