<div class="row">
  <h1 class='col-xs-11'>DM Log Entries</h1>
  <%= render partial: "dm_log_entries/search", locals: { q: sort_params(params).fetch(:q, {}) } %>
</div>

<div class="row">
  <div class="col-md-3">
    <%= display_attribute "Total XP",     @total_xp,    size: :small if @style == 'old' || @style == 'both' %>
    <%= display_attribute "Unused XP",    @unused_xp,   size: :small if @style == 'old' || @style == 'both' %>
    <%= display_attribute "Total ACP",    "%g" % @total_acp,   size: :small if @style == 'season8' || @style == 'both' %>
    <%= display_attribute "Unused ACP",   "%g" % @unused_acp,  size: :small if @style == 'season8' || @style == 'both' %>
    <%= display_attribute "Total Hours",  @total_hours, size: :small %>
    <br>
  </div>

  <div class="col-md-3">
    <%= display_attribute "Total TCP",  "%g" % @total_tcp,  size: :small if @style == 'season8' || @style == 'both' %>
    <%= display_attribute "Unused TCP", "%g" % @unused_tcp, size: :small if @style == 'season8' || @style == 'both' %>
    <%= display_attribute "Total GP",   @total_gp,                                size: :small %>
    <%= display_attribute "Unused GP",  @unused_gp,                               size: :small %>
    <br>
  </div>

  <div class="col-md-3">
    <%= display_attribute "Total Downtime",   @total_downtime,  size: :small %>
    <%= display_attribute "Unused Downtime",  @unused_downtime, size: :small %>
    <br>
  </div>

  <div class="col-md-3">
    <%= display_attribute "Total Renown",   @total_renown,  size: :small %>
    <%= display_attribute "Unused Renown",  @unused_renown, size: :small %>
  </div>
</div>

<%= render partial: "dm_log_entries/list", locals: { q: sort_params(params).fetch(:q, {}) } %>
