<div class="row">
  <h1 class='col-xs-11'>DM Log Entries</h1>
  <%= render partial: "dm_log_entries/search", locals: { q: sort_params(params).fetch(:q, {}) } %>
</div>

<div class="row">
  <div class="col-md-3">
    <%= display_attribute_small "Total XP",  @total_xp %>
    <%= display_attribute_small "Unused XP",  @unused_xp %>
    <%= display_attribute_small "Total Hours",  @total_hours %>
    <br>
  </div>

  <div class="col-md-3">
    <%= display_attribute_small "Total GP",  @total_gp %>
    <%= display_attribute_small "Unused GP",  @unused_gp %>
    <br>
  </div>

  <div class="col-md-3">
    <%= display_attribute_small "Total Downtime",  @total_downtime %>
    <%= display_attribute_small "Unused Downtime",  @unused_downtime %>
    <br>
  </div>

  <div class="col-md-3">
    <%= display_attribute_small "Total Renown",  @total_renown %>
    <%= display_attribute_small "Unused Renown",  @unused_renown %>
  </div>
</div>

<%= render partial: "dm_log_entries/list", locals: { q: sort_params(params).fetch(:q, {}) } %>
