<div class="row">
  <div class='col-xs-12 col-sm-7 col-md-8'>
    <%= paginate @log_entries %>
  </div>
</div>

<div class='col-xs-2'>
  <%= select_tag :log_format, options_for_select(["Season9 Format", "Season8 Format", "Old Format"]), { class: 'form-control' } %>
</div>

<div class='col-xs-12'>
  <div class="season9_format">
    <%= render partial: 'campaign_log_entries/season9_table' %>
  </div>

  <div class="season8_format">
    <%= render partial: 'campaign_log_entries/season8_table' %>
  </div>

  <div class="old_format">
    <%= render partial: 'campaign_log_entries/old_table' %>
  </div>
</div>

<script>
  $('#log_format').change( function(){
    format_choice = $(this).val()

    if(format_choice == "Old Format"){
      $(".old_format").removeClass('hide');
      $(".season9_format").addClass('hide');
      $(".season8_format").addClass('hide');
    }

    if(format_choice == "Season8 Format"){
      $(".season8_format").removeClass('hide');
      $(".season9_format").addClass('hide');
      $(".old_format").addClass('hide');
    }

    if(format_choice == "Season9 Format"){
      $(".season9_format").removeClass('hide');
      $(".season8_format").addClass('hide');
      $(".old_format").addClass('hide');
    }
  });

  $('#log_format').change();

</script>
