<!DOCTYPE html>
<html moznomarginboxes>
  <head>
    <title>AdventurersLeagueLog</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render 'layouts/jumbotron' %>
    <div class="main-wrapper">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <main role="main">
        <div class="container">
          <div id="messages-block"><%= render 'layouts/messages' %></div>
          <%= render 'layouts/breadcrumbs' %>
          <%= yield %>
        </div>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
